SB_ROOT=/opt/cst

unset signed_items
declare -A signed_items
signed_items[kernel]=${SB_ROOT}/hab/signed/k/signed
signed_items[imx-boot]=${SB_ROOT}/hab/signed/u/signed
signed_items[grub]=${SB_ROOT}/hab/signed/uefi/signed
signed_items[fuse]=${SB_ROOT}/hab/signed/f/fuse.out

do_make() {
make -C ${SB_ROOT} ${@}
}

backup_keys() {
pushd ${SB_ROOT}
local back_up="${SB_ROOT}/bakup.d/$(date +%Y%m%d%H%M%S)"
mkdir -p ${back_up}
cp -a ${SB_ROOT}/{keys,crts} ${back_up}/
popd
}

backup_keys_remove() {
local back_up="${SB_ROOT}/bakup.d"
rm -rf ${back_up}/*
}

remove_keys() {
backup_keys
make -C ${SB_ROOT} clean_keys
make -C ${SB_ROOT} clean_crts
}

generate_new_keys() {
remove_keys
make -C ${SB_ROOT} srk
}

make_kernel() {
make -C ${SB_ROOT} kernel
}

make_fusel() {
make -C ${SB_ROOT} fuse
}

make_uefi() {
make -C ${SB_ROOT} uefi
}

make_clean() {
make -C ${SB_ROOT} clean
}

show_backups() {
local saved_keys="$([[ -d ${SB_ROOT}/bakup.d ]] && ls ${SB_ROOT}/bakup.d | awk ''1 ORS=" ; " || echo "--")"
cat << eof
Saved keys:
	${saved_keys}
eof
}

remove_signed() {
[[ -f ${signed_items[${1}]} ]] && rm -rf ${signed_items[${1}]} || true
}

show_signed() {
status=""
for item in ${!signed_items[@]};do
status+=" ${item} "
[[ -f ${signed_items[${item}]} ]] && status+="[ ok ]" || status+="[ - ]"
status+=" ; "
done

cat << eof
Signed items:
	${status}
eof
}

show_status() {
	show_signed
	show_backups
}

issue_cl_uboot() {
	if [[ -n ${1:-""} ]];then
		SRC=$(readlink -e ${signed_items[imx-boot]}) cl-uboot
		return 0
	fi
	local _usage=""
	if [[ -f ${signed_items[imx-boot]} ]];then
		_usage+="~b -- cl-ubot";
cat << eof
--
${_usage}
eof
	fi
}

usage () {
cat << eof

-= Secure Boot Shell Menu =-

a -- Make all
--
b -- Make signed bootloader
i -- Make signed kernel image
f -- Make signed fuse file
g -- Make signed grub
C -- Remove all signed images
--
k -- Generate new keys
K -- Remove keys
--
u -- Back up keys
U -- Clean up back up keys
X -- Exit
$(issue_cl_uboot)

$(show_status)

eof
}

PS1='$(usage)\n\nsecureboot-shell > '
set -m

alias a='do_make all'

alias b='do_make imx-boot'
alias B='remove_signed imx-boot'
alias ~b="issue_cl_uboot imx-boot"

alias i='do_make kernel'
alias I='remove_signed kernel'

alias f='do_make fuse'
alias F='remove_signed fuse'

alias g='do_make uefi'
alias G='remove_signed uefi'

alias C='do_make clean'

alias k='generate_new_keys'
alias K='remove_keys'

alias u='backup_keys'
alias U='backup_keys_remove'

alias X='exit'
